# Set this to true in order to pause the subtitling when your in-game microphone is muted. This will cause the script to listen for OSC events.
FollowMicMute: false

# Set this to allow any of these config options to be driven by avatar paramaters. This will cause the script to listen for OSC events.
AllowOSCControl: true

# This setting changes which port VRCSubs listens on in order to receive OSC messages. You only need to change it if you use an OSC aggregator.
OSCControlPort: 9001

# Change this to your language if you don't want to speak English. Uses ISO language codes (see http://www.lingoes.net/en/translator/langcode.htm), e.g. en-US, fr-FR, uk-UA
CapturedLanguage: "en-US"

# For speech to text, what engine should be used? The options are:
# "Google" - The default, fairly accurate, but uses the Google API to transcribe, so it may take some time, and may be blocked in some places.
# "Vosk"   - An offline open-source option. Less accurate, and requires a model to be downloaded. However, it may be faster and work regardless of location.
#            You can download vosk models here: https://alphacephei.com/vosk/models
TranscriptionMethod: "Google"

# Rate limit for the transcriber between chat boxes (in ms) -- For example "1500" will wait to ensure a message isn't sent again within 1.5 seconds.
TranscriptionRateLimit: 1200

# If you wish your chat to be translated (very beta feature!) set this to true.
EnableTranslation: false

# For message translation, specify what translation engine to use. The options are:
# "Google" - The default, free
# "DeepL"  - More accurate then Google Translate, but supports fewer langugages. It requires a token. (see below)
#            List of supported languages by DeepL: https://www.deepl.com/ja/docs-api/translate-text/translate-text/
TranslateMethod: "Google"

# If your translation service requires a token, specify it here.
# For "Google" - No token required, leave as ""
# For "DeepL"  - You need to register at DeepL and get the API https://www.deepl.com/ja/account/summary
TranslateToken: ""

# If EnableTranslation is true, set this to the language you wish to translate your speech to. Not all languages are supported.
# /!\ Warning: VRChat does not support non-latin characters over OSC so langages that use non-latin characters will be converted.
TranslateTo: "es-MX"

# If TranslateInterumResults is true, the script will try and translate as you speak, even if you're not done talking yet.
# The issue with this, is for some languages a partial message won't translate very well due to differences in grammar.
# If you're talking in English and translating to Japanese or Spanish for example, you may wish to turn this to false.
# Only leave this on if you're ok with your translation being very incorrect due to missing context.
TranslateInterumResults: true

# This config option should always be false. Used with OSC Control. Please do not touch! ^^
Pause: false